.masthead {
    background-image: url("../images/banner.jpg");
}

.stats {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #037ef3;
}

.stats i {
    font-size: 100px;
    margin-bottom: 20px;
}